[submodule "StaticScript"]
	path = StaticScript
	url = https://github.com/deepaksirone/StaticScript
[submodule "baseline-tap"]
	path = baseline-tap
	url = https://github.com/deepaksirone/baseline-tap
[submodule "trigger-shim"]
	path = trigger-shim
	url = https://github.com/deepaksirone/trigger-shim
[submodule "action-shim"]
	path = action-shim
	url = https://github.com/deepaksirone/action-shim
[submodule "rule-cryptor"]
	path = rule-cryptor
	url = https://github.com/deepaksirone/rule-cryptor
[submodule "tap-client"]
	path = tap-client
	url = https://github.com/deepaksirone/tap-client
[submodule "keystone"]
	path = keystone
	url = https://github.com/deepaksirone/keystone
[submodule "static_script_runtime"]
	path = static_script_runtime
	url = https://github.com/deepaksirone/static_script_runtime
